<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <link rel="stylesheet" href="/swiper/package/css/swiper.min.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
    <!-- 导航栏 -->
    <div class="ui menu" style="padding: 15px;">
        <a href="" style="display: flex; left: auto; margin-left: 30%;"><img src="/images/logo.png" /></a>
        <div class="right menu" style="margin-right: 20%;">
            <div class="item">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="搜索感兴趣的课程" />
                    <button class="ui positive button">搜索</button>
                </div>
            </div>
            <a class="item">使用教程</a>
            <a class="item" href="javascript:showMsgBoard()">留言反馈</a>

        </div>
    </div>
    <!-- 导航栏 -->

  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="eight wide column">
          <h2 class="ui header"><%= classHeader.courseName %></h2>
          <div class="description">
            <p><%= dateFormat(classHeader.startTime) %>-<%= dateFormat(classHeader.closeTime) %></p>
            <p> <%= classHeader.courseDept %></p>
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            <%= classHeader.userName %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 课程水平菜单 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui six item menu">
      <a class="content">
        <a class="item" href="../notice">
          <i class="bell outline icon"></i>
          公告
        </a>
        <a class="item" href="../notice">
          <i class="folder outline icon"></i>
          课件
        </a>
        <a class="item" href="../hw/all">
          <i class="pencil alternate icon"></i>
          作业
        </a>
        <a class="item" href="../group">
          <i class="users icon"></i>
          分组学习
        </a>
        <a class="item" href="../hw/all">
          <i class="clipboard outline icon"></i>
          成绩
        </a>
        <a class="item" href="../talk">
          <i class="comment outline icon"></i>
          讨论
        </a>
      </a>
    </div>
  </div>
  <!-- 课程水平菜单 -->

  <!-- 课程作业列表 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments">
      <div class="ui grey segment" style="background-color:rgb(221, 219, 219);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 600px;">
            <div class="content">
              <div class="homework item list" style="margin-left: 15px;"><b>作业名称</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><b>状态</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><b>成绩</b></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 先随便试一个 -->
      <% if (hwList == null) { %>
        <div class="row centered">
        <h3 style="text-align: center">暂无作业</h3>
        </div>
      </div>
      <% } else { %>
        <% for(var i = 0; i < hwList.length; i++) { %>
          <% var hw = hwList[i]; %>
          <div class="ui segment" style="background-color:rgb(255, 255, 255);">
            <div class="ui relaxed horizontal list">
              <div class="item" style="width: 600px;">
                <div class="content">
                  <div class="homework name" style="margin-left: 15px;font-size: large;"><b><a href="./<%= hw.classProjectID %>/detail"><%= hw.projectName %></a></b></div>
                  <div class="homework simple description" style="margin-left: 15px;margin-top: 10px;">
                    <div class="ui relaxed horizontal list">
                      <div class="item" style="width:auto;">
                        <div class="content">
                          <div class="homework begintime">开始:<%= dateFormat(hw.startTime) %></div>
                        </div>
                      </div>
                      <div class="item" style="width:auto;">
                        <div class="content">
                          <div class="homework endtime">截止:<%=  dateFormat(hw.endTime) %></div>
                        </div>
                      </div>
                      <div class="item" style="width:auto;">
                        <div class="content">
                          <div class="homework type">作业形式:
                            <% if ( hw.isGroupWork==0 ) { %> 个人作业
                              <% } else { %> 小组作业
                            <% } %>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
              <div class="item" style="width: 150px;">
                <div class="content">
                  <% if(hw.commitTime==null) { %> 
                    <div class="issubmit" style="color: rgb(255, 0, 0);"><b>未交</b></div>
                    <% } else { %> 
                    <div class="issubmit" style="color: rgb(70, 228, 167);"><b>已交</b></div>
                  <% } %>
                </div>
              </div>
              <div class="item" style="width: 150px;">
                <div class="content">
                  <% if(hw.markTime==null) { %> 
                    <div class="isscored" style="color: rgb(255, 0, 0);"><b>未评分</b></div>
                <% } else { %> 
                  <div class="isscored" style="color: rgb(70, 228, 167);"><b>已评分</b></div>
                <% } %>
                  </div>
              </div>
              <div class="item" style="width:auto;margin-right:15px;">
                <div class="content">
                    <div class="homework submit button">
                    <a href="./<%= hw.classProjectID %>/submit">去交作业</a></div>
                </div>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>
    
    </div> 
  </div>
  <!-- 课程作业列表 -->

</body>

<script src="/swiper/package/js/swiper.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>
</script>


</html>