<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="eight wide column">
          <h2 class="ui header"><%= classHeader.courseName %></h2>
          <div class="description">
            <p><%= dateFormat(classHeader.startTime) %>-<%= dateFormat(classHeader.closeTime) %></p>
            <p> <%= classHeader.courseDept %></p>
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            <%= classHeader.userName %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 作业提交 -->
  <!-- TODO:文件接口待添加 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments" style="background-color:rgb(255, 255, 255);">
      <div class="ui basic segment">
        <button class="ui labeled icon button">
          <i class="chevron left icon"></i><a href="./detail" style="color: #000000;">返回</a>
        </button>
      </div>
      <div class="ui basic segment">
        <b class="homework name" style="font-size:xx-large;"><%= hwInfo.projectName %></b>
      </div>
      <div class="ui basic segment">
        <!-- TODO:下载 -->
        <a style="margin-right: 10px;">下载我的文件</a>
        <!-- TODO:上传 -->
        <button class="ui teal button">上传文件</button>
      </div>
      <div style="height:1px;"></div>
      <div class="ui segments">
        <div class="ui secondary segment">
          <div class="ui sixteen column grid">
            <div class="column"><i class="bold icon"></i></div>
            <div class="column"><i class="italic icon"></i></div>
            <div class="column"><i class="heading icon"></i></div>
            <div class="column"><i class="align left icon"></i></div>
            <div class="column"><i class="align center icon"></i></div>
            <div class="column"><i class="align right icon"></i></div>
            <div class="column"><i class="align justify icon"></i></div>
            <div class="column"><i class="quote left icon"></i></div>
            <div class="column"><i class="list icon"></i></div>
            <div class="column"><i class="list ol icon"></i></div>
            <div class="column"><i class="subscript icon"></i></div>
            <div class="column"><i class="superscript icon"></i></div>
            <div class="column"><i class="table icon"></i></div>
            <div class="column"><i class="underline icon"></i></div>
          </div>
        </div>
        <form class="ui form">
          <div class="field">
            <textarea maxlength="300" name="description"></textarea>
          </div>
        </form>
      </div>
      <div class="ui basic segment">
        <div class="actions">
          <div class="ui red deny button" onclick="javascript:window.location.href='./detail'">取消</div>
          <!-- TODO:提交 -->
          <div class="ui positive button" onclick="javascript:submitHw()">提交</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 作业提交 -->

  <!-- 占位 -->
  <div style="height:20px;"></div>
  <!-- 占位 -->

</body>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/header.js"></script>
<script>
  var submitHw = () => {
    // if ($("textarea[name='description']").val().replace(' ', '') == "") {
    //   alert("申诉原因不能为空！");
    //   return;
    // }
    $.ajax({
      dataType: "json",
      type: "post",
      url: "/courses/class/<%= hwInfo.classID %>/student/hw/<%= hwInfo.classProjectID %>/submitHw",
      data: {
        description: $("textarea[name='description']").val()
      },
      success: (data) => {
        if (data.status) {
          alert("作业提交成功!");
          window.location.href = "/courses/class/<%= hwInfo.classID %>/student/hw/<%= hwInfo.classProjectID %>/situation"
        } else {
          alert(data.msg);
        }
      },
      // 作业上交失败
      // else if (data.status == -1) {
      //     $(".ui.error.message").text("请输入正确的验证码！").show();
      //   } else {
      //     $(".ui.error.message").text("该用户名已被注册！").show();
      //   }
      error: (err) => {
        alert("与服务器连接异常，请稍后再试!");
      }
    });
  }
</script>

</html>