<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <link rel="stylesheet" href="/swiper/package/css/swiper.min.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="eight wide column">
          <h2 class="ui header">
            <%= classHeader.courseName %>
          </h2>
          <div class="description">
            <p>
              <%= dateFormat(classHeader.startTime) %>-
              <%= dateFormat(classHeader.closeTime) %>
            </p>
            <p>
              <%= classHeader.courseDept %>
            </p>
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            <%= classHeader.userName %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 课程水平菜单 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui six item menu">
      <a class="content">
        <a class="item" href="../notice">
          <i class="bell outline icon"></i>
          公告
        </a>
        <a class="item" href="../material">
          <i class="folder outline icon"></i>
          课件
        </a>
        <a class="item active" href="../hw/all">
          <i class="pencil alternate icon"></i>
          作业
        </a>
        <a class="item" href="../groupOperation">
          <i class="users icon"></i>
          分组学习
        </a>
        <a class="item" href="../courseGrade">
          <i class="clipboard outline icon"></i>
          成绩
        </a>
        <a class="item" href="../talk">
          <i class="comment outline icon"></i>
          讨论
        </a>
      </a>
    </div>
  </div>
  <!-- 课程水平菜单 -->

  <!-- 课程作业列表 -->
  <!--删除作业没有页面，点击相应作业进行删除-->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments">
      <div class="ui segment">
        <div class="ui four column grid">
          <div class="column">
            <a class="ui green labeled icon button" href="./add">
              <i class="plus square icon"></i> <span style="font-size: 110%;">添加作业</span>
            </a>
          </div>
          <div class="column">
            <a class="ui green labeled icon button" href="../quiz/bank" target="_blank">
              <i class="shopping basket icon"></i> <span style="font-size: 110%;">题库管理</span>
            </a>
          </div>
        </div>
      </div>
      <div class="ui grey segment" style="background-color:rgb(221, 219, 219);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 603px;">
            <div class="content">
              <div class="homework item list" style="margin-left: 15px;"><b>作业名称</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><i class="edit icon"></i><b>修改</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><i class="trash alternate icon"></i><b>删除</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><i class="eye icon"></i><b>批改</b></div>
            </div>
          </div>
        </div>
      </div>
      <% if (hwList == null) { %>
      <div class="row centered" style="text-align: center">
        <h3>暂未布置作业</h3>
      </div>
    </div>
    <% } else { %>
    <% for(var i = 0; i < hwList.length; i++) { %>
    <% var hw = hwList[i]; %>
    <div class="ui segment" style="background-color:rgb(255, 255, 255);">
      <div class="ui relaxed horizontal list">
        <div class="item" style="width: 600px;">
          <div class="content">
            <div class="homework name" style="margin-left: 15px;font-size: large;"><b><a
                  href="./<%= hw.classProjectID %>/detail"><%= hw.projectName %></a></b></div>
            <div class="homework simple description" style="margin-left: 15px;margin-top: 10px;">
              <div class="ui relaxed horizontal list">
                <div class="item" style="width:auto;">
                  <div class="content">
                    <div class="homework begintime">开始:
                      <%= dateFormat(hw.startTime) %>
                    </div>
                  </div>
                </div>
                <div class="item" style="width:auto;">
                  <div class="content">
                    <div class="homework endtime">截止:
                      <%= dateFormat(hw.closeTime) %>
                    </div>
                  </div>
                </div>
                <div class="item" style="width:auto;">
                  <div class="content">
                    <div class="homework type">作业形式:
                      <% if (hw.isGroupWork == 0) { %> 个人作业
                      <% } else if (hw.isGroupWork == 1) { %> 小组作业
                      <% } else { %>
                         测验
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="width:auto;width:150px;">
          <div class="content">
            <div class="homework submit button"><a href="./<%= hw.classProjectID %>/update">修改作业</a></div>
          </div>
        </div>
        <div class="item" style="width:auto;width:150px;">
          <div class="content">
<<<<<<< HEAD
            <div class="homework submit button"><a onclick="showConfirmDeleteModal(<%= hw.classProjectID %>)">删除作业</a>
=======
            <div class="homework submit button"><a onclick="showConfirmDeleteModal('<%= hw.classProjectID %>')">删除作业</a>
>>>>>>> master
            </div>
          </div>
        </div>
        <div class="item" style="width:auto;margin-right:15px;">
          <% if (hw.isGroupWork == 0 || hw.isGroupWork == 1) { %>
          <div class="content">
            <div class="homework submit button"><a href="./<%= hw.classProjectID %>/mark">批改作业</a></div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>
  </div>
  </div>
  <!-- 课程作业列表 -->

  <!--教师删除作业确认模态框-->
  <div class="ui modal delete">
    <div class="header">删除</div>
    <div class="content">
      <p>确定要删除选中的这个作业吗？</p>
    </div>
    <div class="actions">
      <div class="ui approve red button" onclick="confirmDelete()">确定</div>
      <div class="ui cancel button">取消</div>
    </div>
  </div>
  <!--教师删除作业确认模态框-->

</body>

<script src="/swiper/package/js/swiper.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/dist/semantic.min.js"></script>
<script src="/javascripts/header.js"></script>
<script>
  var classProjectID;
  var showConfirmDeleteModal = (x) => {
    $('.ui.modal.delete').modal('show');
    classProjectID = x;
  };
  var confirmDelete = () => {
    $.ajax({
      dataType: "json",
      type: "post",
      url: "./" + classProjectID + "/deleteHw",
      success: (data) => {
        if (data.status) {
          alert("删除成功!");
          window.location.href = "./all";
        } else {
          alert(data.msg);
        }
      },
      error: (err) => {
        alert("与服务器连接异常，请稍后再试!");
      }
    });
  };
  var hideComplainModal = () => {
    $('.ui.modal').modal('hide');
  };
</script>

</html>