<!DOCTYPE html>
<html>

<head>
	<title>高校教学管理平台</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="icon" href="/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
	<link rel="stylesheet" href="/swiper/package/css/swiper.min.css" />
	<style type="text/css">
		body {
			background-color: #eeeeee;
		}

		.footer.segment {
			padding: 5em 0em;
		}

		.box {
			margin: 60px 10% 100px 10%;
		}

		.course-title {
			font-weight: bold;
			font-size: medium;
			font-family: "黑体";
			margin: 8px 16px;
		}

		.course-info {
			font-family: "微软雅黑";
			margin: 8px 16px;
		}

		.user-title {
			text-align: center;
			font-size: large;
			font-family: "微软雅黑";
			font-size: 20px;
		}
	</style>
</head>

<body>
	<!-- 导航栏 -->
	<div class="ui menu" style="padding: 15px;">
		<img src="/images/logo.png" style="display: flex; left: auto; margin-left: 30%;">
		<div class="right menu" style="margin-right: 20%;">
			<div class="item">
				<div class="ui action left icon input">
					<i class="search icon"></i>
					<input type="text" placeholder="搜索感兴趣的课程">
					<button class="ui positive button">搜索</button>
				</div>
			</div>
			<a class="item">使用教程</a>
			<a class="item">建议反馈</a>
		</div>
	</div>
	<!-- 导航栏 -->

	<!-- 课程信息 -->
	<div class="ui container">
		<div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="four wide column">
					<h2 class="ui header">软件工程管理</h2>
					<div class="description">
						2019-2020秋 计算机科学与技术学院
					</div>
					<h5 class="ui header">授课老师</h5>
					<div class="description">
						邢卫
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 课程信息 -->

	<!-- 课程水平菜单 -->
	<div class="ui container" style="margin-top:10px;">
		<div class="ui six item menu">
			<a class="content">
				<a class="item">
					<i class="bell outline icon"></i>
					公告
				</a>
				<a class="item">
					<i class="folder outline icon"></i>
					课件
				</a>
				<a class="item">
					<i class="pencil alternate icon"></i>
					作业
				</a>
				<a class="item">
					<i class="users icon"></i>
					分组学习
				</a>
				<a class="item">
					<i class="clipboard outline icon"></i>
					班级成绩
				</a>
				<a class="item">
					<i class="comment outline icon"></i>
					讨论
				</a>
			</a>
		</div>
	</div>

	<div class="ui container" style="margin-top: 10px">
		<table class="ui seven column table">
			<thead>
				<tr>
					<th>序号</th>
					<th>学号</th>
					<th>姓名</th>
					<th>平时成绩</th>
					<th>作业成绩</th>
					<th>考试成绩</th>
					<th>总成绩</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0;i<data.takeTwoGrade.length;i++){ %>
				<tr>
					<td><%= i+1 %></td>
					<td><%= data.takeTwoGrade[i].studentID %></td>
					<td><%= userNameList[i] %></td>
					<td><%= data.takeTwoGrade[i].usualGrade %></td>
					<td><%= data.homeworkGrade[i] %></td>
					<td><%= data.takeTwoGrade[i].examGrade %></td>
					<td><%= studentTotalGrade[i] %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<table class="ui black table">
			<thead>
				<tr>
					<th>总人数</th>
					<th>平时成绩(平均)</th>
					<th>作业成绩(平均)</th>
					<th>考试成绩(平均)</th>
					<th>总成绩(平均)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= data.takeTwoGrade.length %></td>
					<td><%= avgUsualGrade %></td>
					<td><%= avgHomeworkGrade %></td>
					<td><%= avgTestGrade %></td>
					<td><%= avgTotalGrade %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/swiper/package/js/swiper.min.js"></script>
	<script src="/javascripts/jquery.js"></script>
</body>


</html>