<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <link rel="stylesheet" href="/swiper/package/css/swiper.min.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <!-- 导航栏 -->
  <div class="ui inverted menu" style="padding: 1px;">
    <img class="ui tiny image" src="/images/学在浙大.png" style="display: flex; left: auto; margin-left: 20%;" />
    <div class="right menu" style="margin-right: 20%;">
      <div class="item"><i class="bell outline icon"></i></div>
      <a class="item">我的主页</a>
      <a class="item">Timeless</a>
    </div>
  </div>
  <!-- 导航栏 -->

  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h2 class="ui header">操作系统</h2>
          <div class="description">
            2019-2020秋冬 计算机科学与技术学院
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            夏莹杰
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 课程水平菜单 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui six item menu">
      <a class="content">
        <a class="item">
          <i class="bell outline icon"></i>
          公告
        </a>
        <a class="item">
          <i class="folder outline icon"></i>
          课件
        </a>
        <a class="item">
          <i class="pencil alternate icon"></i>
          作业
        </a>
        <a class="item">
          <i class="users icon"></i>
          分组学习
        </a>
        <a class="item">
          <i class="clipboard outline icon"></i>
          成绩
        </a>
        <a class="item">
          <i class="comment outline icon"></i>
          讨论
        </a>
      </a>
    </div>
  </div>
  <!-- 课程水平菜单 -->

  <!-- 分组信息 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments" style="background-color:rgb(255, 255, 255);">
      <div class="ui segment">
        <div class="ui basic segment" style="background-color: rgb(220,220,220);">
          <div class="ui ten column grid">
            <div class="row">
              <div class="column"></div>
              <div class="column"></div>
              <div class="column">
                <div class="group id description" style="line-height: 30px;"><b>小组序号</b></div>
              </div>
              <div class="column">
                <% if(result==1){ %>
                <div class="group id" style="line-height: 30px;"><%= ret[0].groupNumber %></div>
                <% } else { %>
                <div class="group id" style="line-height: 30px;">无</div>
                <% } %>
              </div>
              <div class="column"></div>
              <div class="column"></div>
              <div class="column">
                <div class="group number description" style="line-height: 30px;"><b>小组人数</b></div>
              </div>
              <div class="column">
                <% if(result==1){ %>
                <div class="group id" style="line-height: 30px;"><%= studentInfoList.length %></div>
                <% } else { %>
                <div class="group id" style="line-height: 30px;">无</div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui basic segment">
        <div class="group infomation description" style="margin-left: 15px;font-size:x-large;"><b>小组人员信息</b></div>
        <div class="ui divider"></div>
        <div class="ui four column grid">
          <div class="column">
            <div class="student avatar and name description" style="margin-left: 15px;"><b>学生</b></div>
          </div>
          <div class="column">
            <div class="student id description" style="margin-left: 35px;"><b>学号</b></div>
          </div>
          <div class="column">
            <div class="phonenumber description" style="margin-left: 35px;"><b>电话</b></div>
          </div>
          <div class="column">
            <div class="email address description" style="margin-left: 35px;"><b>邮箱</b></div>
          </div>
        </div>
        <% for(var i=0;i<studentInfoList.length;i++){ %>
        <div class="ui divider"></div>
        <div class="ui four column grid">
          <div class="column">
            <div class="student avatar and name" style="margin-left: 15px;">
              <img class="ui avatar image" src="/<%= studentInfoList[i][0].userPhoto %>"
                onerror="this.src='/images/avatar200x200.png'">
              <% if(studentInfoList[i][0].userID==ret[0].groupLeaderID){ %>
              <span style="color: rgb(18,170,156);"><%= studentInfoList[i][0].userName %>（组长）</span>
              <% } else { %>
              <span><%= studentInfoList[i][0].userName %></span>
              <% } %>
            </div>
          </div>
          <div class="column">
            <div class="student id" style="margin-left: 35px;margin-top: 4.22px;"><%= studentInfoList[i][0].userID %></div>
          </div>
          <div class="column">
            <% if(studentInfoList[i][0].phoneNumber==null){ %>
            <div class="phonenumber" style="margin-left: 35px;margin-top: 4.22px;">-</div>
            <% } else { %>
            <div class="phonenumber" style="margin-left: 35px;margin-top: 4.22px;"><%= studentInfoList[i][0].phoneNumber %>
            </div>
            <% } %>
          </div>
          <div class="column">
            <% if(studentInfoList[i][0].email==null){ %>
            <div class="email address" style="margin-left: 35px;margin-top: 4.22px;">-</div>
            <% } else { %>
            <div class="phonenumber" style="margin-left: 35px;margin-top: 4.22px;"><%= studentInfoList[i][0].email %>
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>
  <!-- 分组信息 -->

  <!-- 占位 -->
  <div style="height:20px;"></div>
  <!-- 占位 -->

</body>

<script src="/swiper/package/js/swiper.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>
</script>

</html>