<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <style>
    body {
      background-color: #eeeeee;
    }
  </style>
</head>

<body>
  <!-- 导航栏 -->
  <div class="ui inverted menu" style="padding: 1px;">
    <img class="ui tiny image" src="/images/学在浙大.png" style="display: flex; left: auto; margin-left: 20%;" />
    <div class="right menu" style="margin-right: 20%;">
      <div class="item"><i class="bell outline icon"></i></div>
      <a class="item">我的主页</a>
      <a class="item">Timeless</a>
    </div>
  </div>
  <!-- 导航栏 -->

  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h2 class="ui header">操作系统</h2>
          <div class="description">
            2019-2020秋冬 计算机科学与技术学院
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            夏莹杰
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 课程水平菜单 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui six item menu">
      <a class="content">
        <a class="item">
          <i class="bell outline icon"></i>
          公告
        </a>
        <a class="item active">
          <i class="folder outline icon"></i>
          课件
        </a>
        <a class="item">
          <i class="pencil alternate icon"></i>
          作业
        </a>
        <a class="item">
          <i class="users icon"></i>
          分组学习
        </a>
        <a class="item">
          <i class="clipboard outline icon"></i>
          成绩
        </a>
        <a class="item">
          <i class="comment outline icon"></i>
          讨论
        </a>
      </a>
    </div>
  </div>
  <!-- 课程水平菜单 -->


  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments" style="background-color:rgb(255, 255, 255);">
      <div class="ui basic segment">
        <div class="ui divider"></div>
        <div class="ui grid">
          <div class="two wide column" style="text-align: center;"><b>序号</b></div>
          <div class="five wide column" style="text-align: center;"><b>资料名称</b></div>
          <div class="three wide column" style="text-align: center;"><b>上传者</b></div>
          <div class="three wide column" style="text-align: center;"><b>上传时间</b></div>
          <div class="three wide column" style="text-align: center;"><b>操作</b></div>
        </div>
        <div class="ui divider"></div>
        <% for (let i = 0; i < materials.length; i++) { %>
        <div class="ui grid">
          <div class="two wide column" style="text-align: center;"><%= (i+1) %></div>
          <div class="five wide column" style="text-align: center;"><%= materials[i].materialName %></div>
          <div class="three wide column" style="text-align: center;"><%= materials[i].userName %></div>
          <div class="three wide column" style="text-align: center;">
            <%= dateFormat(materials[i].uploadTime, 'yyyy-MM-dd hh:mm:ss') %></div>
          <div class="three wide column" style="text-align: center;">
            <i class="blue download icon"></i><a style="margin-right: 15px;"
              href="./material/download/<%= materials[i].materialID %>" target="_blank">下载</a>
          </div>
        </div>
        <div class="ui divider"></div>
        <% } %>
      </div>
    </div>
  </div>
  <!-- 教师课件 -->

  <!-- 占位 -->
  <div style="height:20px;"></div>
  <!-- 占位 -->

</body>

<script src="/javascripts/jquery.js"></script>
<script src="/dist/semantic.min.js"></script>

</html>