<!DOCTYPE html>
<html>

<head>
  <title>教学班管理 | 高校教学管理平台</title>
  <meta charset="utf-8" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .box {
      margin: 60px 10% 100px 20%;
    }

    .pointer {
      cursor: pointer;
    }
  </style>
  <script>const courseNumber = "<%= classes[0].courseNumber  %>"</script>
</head>

<body>

  <div class="pusher">
    <div class="ui left fixed vertical menu inverted ">
      <h2 class="item" style="padding:8%; margin-bottom: 30px; margin-top:30px;">后台管理</h2>
      <a class="item" href="/admin"><i class="user off icon"></i>用户管理</a>
      <a class="item" href="/admin/course"><i class="book icon"></i>课程管理</a>
      <a class="item"><i class="cog icon"></i>系统设置</a>
      <a class="item" href="/logout"><i class="power off icon"></i>退出登录</a>
    </div>

    <div class="box">
      <div class="ui segment">
        <h3>《<%= classes[0].courseName  %>》教学班列表</h3>
      </div>
      <table class="ui celled padded table class-table">
        <thead>
          <tr>
            <th colspan="8">
              <div class="ui right floated small primary labeled icon button" onclick="showClassModal()">
                <i class="book icon"></i> 添加教学班
              </div>
            </th>
          </tr>
          <tr>
            <th>classID</th>
            <th>teacherID</th>
            <th>teacherName</th>
            <th>startTime</th>
            <th>closeTime</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <% if (classes[0].classID != null) { %>
          <% for (let i = 0; i < classes.length; i++) { %>
          <tr>
            <td><%= classes[i].classID %></td>
            <td><%= classes[i].teacherID %></td>
            <td><%= classes[i].teacherName %></td>
            <td><%= dateFormat(classes[i].startTime, "yyyy-MM-dd") %></td>
            <td><%= dateFormat(classes[i].closeTime, "yyyy-MM-dd") %></td>
            <td>
              <i class="edit outline icon pointer" onclick="showClassModal({ classID: '<%= classes[i].classID %>', teacherID: '<%= classes[i].teacherID %>', startTime: '<%= dateFormat(classes[i].startTime, `yyyy-MM-dd`) %>', closeTime: '<%= dateFormat(classes[i].closeTime, `yyyy-MM-dd`) %>'})"></i>
              <i class="trash icon pointer"
                onclick="deleteClass('<%= classes[i].classID  %>')"></i>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6" class="middle aligned">
              <div class="ui right floated pagination menu">
                <a class="icon item">
                  <i class="left chevron icon"></i>
                </a>
                <a class="item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="icon item">
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>

  <div class="ui tiny modal classes">
    <div class="header">教学班设置</div>
    <div class="scrolling content">
      <form class="ui form">
        <div class="field classID">
          <label>ClassID</label>
          <input type="text" name="classID" disabled >
        </div>
        <div class="field">
          <label>TeacherID</label>
          <input type="text" name="teacherID">
        </div>
        <div class="field">
          <label>StartTime</label>
          <input type="date" name="startTime">
        </div>
        <div class="field">
          <label>CloseTime</label>
          <input type="date" name="closeTime">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui cancel button">关闭</div>
      <div class="ui green button" onclick="createClass()">提交</div>
    </div>
  </div>

</body>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/check.js"></script>
<script src="/dist/semantic.min.js"></script>
<script src="/javascripts/admins/class.js"></script>


</html>