<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }
  </style>
</head>

<body>
  <div class="ui container" style="margin-top:10px;">
    <div class="ui grid">
      <!-- 首页垂直菜单 -->
      <div class="four wide column">
        <div class="ui vertical menu">
          <div class="ui raised link card">
            <div class="image">
              <% if (token.userPhoto == null) { %>
              <img src="/images/avatar200x200.png" />
              <% } else { %>
              <img src="/<%= token.userPhoto %>" onerror="this.src='/images/avatar200x200.png'" />
              <% } %>
            </div>
            <div class="content">
              <a class="header"><%= token.userName %></a>
              <div class="description">教师</div>
            </div>
          </div>
          <a class="item" id="homePage" onclick="window.location.href='/'">
            <i class="home icon"></i>
            首页
          </a>
          <a class="item" id="myClass">
            <i class="file outline icon"></i>
            我的课程
          </a>
          <a class="item" id="taPrivilege">
            <i class="list alternate outline icon"></i>
            助教权限管理
          </a>
        </div>
      </div>
      <!-- 首页垂直菜单 -->
      <!-- 教师课程页面 -->
      <div class="twelve wide column">
        <div class="ui raised segment">
          <div class="ui grid">
            <div class="four wide column" style="text-align: center;"><b>课程名称</b></div>
            <div class="four wide column" style="text-align: center;"><b>课程号</b></div>
            <div class="four wide column" style="text-align: center;"><b>开课学院</b></div>
            <div class="four wide column" style="text-align: center;"><b>学分</b></div>
          </div>
          <div class="ui divider"></div>
          <% for(var i=0;i<courseList.length;i++) { %>
          <div class="ui grid">
            <div class="four wide column courseEnter"
              style="cursor:pointer;text-align: center;font-size: 15px;font-weight: bold; color: #12a182">
              <a><%= courseList[i][0].courseName %></a></div>
            <div class="four wide column" style="text-align: center;"><%= courseList[i][0].courseNumber %></div>
            <div class="four wide column" style="text-align: center;"><%= courseList[i][0].courseDept %></div>
            <div class="four wide column" style="text-align: center;"><%= courseList[i][0].credit %></div>
            <div class="class_id_info" style="display:none;"><%= myCourse[i].classID %></div>
          </div>
          <% } %>

          <div class="ui divider"></div>
          <div class="ui grid" style="margin-bottom: 10px;">
          </div>
        </div>
      </div>
      <!-- 教师课程页面 -->
    </div>
  </div>

  <!-- 页脚 -->
  <div class="template-footer"></div>
  <!-- 页脚 -->
  </div>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/header.js"></script>
  <script src="/dist/semantic.min.js"></script>
  <script>
    $('#taPrivilege').click(function () {
      window.location.href = './manageTaPrivilege';
    });

    $('#homePage').click(function () {
      window.location.href = '/';
    });

    $('#myClass').click(function () {
      window.location.href = './users';
    });

    $('.courseEnter').click(function () {
      var enterLocation = "/courses/class/";
      var classID = $(this).siblings('.class_id_info').text();
      enterLocation += classID + "teacher/main";
      window.location.href = enterLocation;
    })
  </script>

</body>

</html>